.contact-us__left {
  width: 55%;
  padding: 25px;
  color: $whiteMain;
  i {
    color: $redMain;
  }
  a {
    text-decoration: none;
    color: $whiteMain;
  }
  h2 {
    font-family: $title;
    color: $whiteMain;
    text-transform: uppercase;
    text-shadow: $redMain 3px 3px 3px;
    @include fontSize(28);
    margin: 0;
    margin-bottom: 20px;
  }
  .day-hours {
    position: relative;
    padding-bottom: 7px;
    span {
      color: $whiteMain;
      text-shadow: 3px 3px 3px $redMain;
      &.hours-right {
        color: $whiteMain;
        position: absolute;
        left: 120px;
        text-align: right;
        text-shadow: none;
      }
    }
  }
}

.contact-us__right {
  width: 45%;
}

.contact-us .wrapper {
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  right: 50%;
  transform: translateX(50%);
}

.contact-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.contact-us {
  background-color: lighten($darkMain, 5);
  background-image: url("../assets/logos/red-white-no-bg.png");
  background-repeat: no-repeat;
  background-size: 700px;
  min-height: calc(100vh - 51px);
  background-position: center 80px;
  background-attachment: fixed;
  position: relative;
  top: 51px;
}

.contact-us__methods {
  margin-bottom: 40px;
  div {
    padding: 5px;
    a {
      font-family: $body;
      transition: $trans;
      &:hover {
        color: lighten($redMain, 0);
        text-decoration: underline;
      }
    }
    i {
      margin-right: 10px;
      @include fontSize(18);
      color: $whiteMain;
      text-shadow: 3px 3px 3px $redMain;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .contact-us .wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 961px) {
  .contact-us .wrapper {
    width: 95%;
  }
}

@media only screen and (max-width: 911px) {
  .contact-us__right {
    display: none;
  }
  .contact-us__left {
    width: 100%;
  }
  .contact-us .wrapper {
    justify-content: center;
    align-items: center;
    width: 500px;
  }
}

@media only screen and (max-width: 485px) {
  .contact-us .wrapper {
    width: 100%;
    .contact-us__left {
      padding: 10px;
    }
  }
}

@media only screen and (max-height: 800px) {
  .contact-us .wrapper {
    top: 20px;
    bottom: 105px;
  }
}

@media only screen and (max-height: 700px) {
  .contact-us .wrapper {
    top: 0;
    bottom: 85px;
  }
}
