.menu .wrapper {
  background-color: white;
  position: relative;
  top: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.menu-footer {
  position: absolute;
  width: 100%;
}

.category {
  width: 100%;
  h2 {
    font-family: $title;
    color: $redMain;
    text-transform: uppercase;
    margin: 0;
    @include fontSize(24);
    text-align: center;
  }
  .items-container {
    margin-top: 15px;
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .one-item {
      width: 48%;
    }
  }
  span {
    display: block;
    font-weight: bold;
    float: left;
    @include fontSize(18);
    &.price {
      text-align: right;
      @include fontSize(15);
      width: 25%;
    }
    &.item-name {
      width: 75%;
    }
  }
  p.item-info {
    clear: both;
    color: $darkMain;
  }
}

.category-desc {
  color: $darkMain;
  font-style: italic;
  @include fontSize(12);
  margin: 10px 0;
  text-align: center;
}

.stylistic-line {
  height: 2px;
  width: 100px;
  background-color: $redMain;
  margin: 10px auto;
}

.specials {
  width: 48%;
  .one-item {
    width: 100%;
    .item-name {
      width: 100%;
    }
  }
}
