.menu .wrapper.menu-wrapper {
  background-color: $whiteMain;
  position: relative;
  top: 70px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 80px;
  border: 5px solid $redMain;
  .logo-container {
    width: 250px;
    margin: 0 auto;
    // margin-bottom: 0px;
  }
}

footer.menu-footer {
  position: absolute;
  width: 100%;
  margin-top: 10px;
  // bottom: 0;
}

.category {
  width: 100%;
  h2 {
    font-family: $title;
    color: $redMain;
    text-transform: uppercase;
    margin: 0;
    @include fontSize(24);
    text-align: center;
  }
  .items-container {
    margin-top: 15px;
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .one-item {
      width: 48%;
      transition: $trans;
    }
  }
  span {
    display: block;
    font-weight: bold;
    float: left;
    @include fontSize(18);
    &.price {
      text-align: right;
      @include fontSize(15);
      width: 25%;
    }
    &.item-name {
      width: 75%;
    }
  }
  p.item-info {
    clear: both;
    color: $darkMain;
    text-align: justify;
  }
}

.category-desc {
  color: $darkMain;
  font-style: italic;
  @include fontSize(12);
  margin: 10px 0;
  text-align: center;
}

.stylistic-line {
  height: 2px;
  width: 100px;
  background-color: $redMain;
  margin: 10px auto;
}

.small {
  width: 48%;
  .one-item {
    width: 100%;
    .item-name {
      width: 100%;
    }
  }
}

.kids .one-item {
  margin-bottom: 16px;
}

.platters .one-item {
  width: 31% !important;
  // border: 1px solid red;
}

.one-item:hover {
  transform: scale(1.02);
}

.sides .items-container {
  justify-content: center;
  .item-name {
    text-align: center;
    width: 250px;
  }
  .one-item {
    width: 250px;
    margin: 0 20px;
    text-align: center;
  }
  .item-info {
    text-align: center;
  }
}

.menu {
  overflow: hidden;
}

.menu-desc {
  color: $darkMain;
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  p {
    width: 350px;
    text-align: justify;
    margin: 20px auto;
    span {
      font-weight: bold;
      color: $redMain;
    }
  }
}

.block {
  width: 100%;
}
