article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 1100px;
  width: 75%;
  margin: 0 auto; }

html * {
  outline: none !important; }

@media (max-width: 1200px) {
  .wrapper {
    width: 85%; } }

html {
  scroll-behavior: smooth; }

h3 {
  margin: 0; }

body {
  background: black;
  color: #9d0000;
  font-family: "Chivo", sans-serif; }

header {
  overflow: hidden; }

.menu-bar {
  position: fixed;
  width: 100%;
  background: black;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 10; }

.black-inverse-img {
  background: white;
  width: 40px;
  height: 40px;
  opacity: 1;
  -webkit-transition: ease-out 0.15s all;
  -o-transition: ease-out 0.15s all;
  transition: ease-out 0.15s all; }

.color-img-hover {
  background: black;
  width: 40px;
  height: 40px;
  opacity: 0;
  position: absolute;
  top: 5px;
  -webkit-transition: ease-out 0.15s all;
  -o-transition: ease-out 0.15s all;
  transition: ease-out 0.15s all; }

.menu-left {
  cursor: pointer; }
  .menu-left .menu-image-container {
    -webkit-transition: ease-out 0.15s all;
    -o-transition: ease-out 0.15s all;
    transition: ease-out 0.15s all; }
  .menu-left:hover .color-img-hover {
    opacity: 1; }
  .menu-left:hover .black-inverse-img {
    opacity: 0; }

.menu-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none; }
  .menu-right ul li {
    padding: 0px 20px; }
    .menu-right ul li a {
      text-decoration: none;
      color: #ffffff;
      -webkit-transition: ease-out 0.15s all;
      -o-transition: ease-out 0.15s all;
      transition: ease-out 0.15s all;
      text-transform: uppercase; }
      .menu-right ul li a:hover i.fa-instagram {
        background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .menu-right ul li a.menu-link:hover {
        text-shadow: #9d0000 3px 3px 3px; }
      .menu-right ul li a:hover i.fa-facebook-square {
        color: #3b5998; }

header i.fa-facebook-square {
  right: 65px;
  font-size: 15.4px;
  font-size: 1.54rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

header i.fa-instagram {
  right: 20px;
  font-size: 15.4px;
  font-size: 1.54rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.splash {
  z-index: 1;
  height: calc(100vh);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/background/flaming-bg.jpeg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/background/flaming-bg.jpeg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/background/flaming-bg.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/background/flaming-bg.jpeg");
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: blur(4px);
  filter: blur(4px); }

.splash-contents {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .splash-contents img {
    height: 400px; }

.splash-text h2 {
  color: #ffffff;
  text-shadow: #9d0000 1px 1px 0px;
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Rye", cursive;
  text-align: center;
  padding-top: 30px; }

.splash-buttons {
  padding-top: 40px; }
  .splash-buttons a {
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase; }
    .splash-buttons a.learn-more {
      background-color: #9d0000;
      color: white;
      font-weight: bold;
      -webkit-transition: ease-out 0.15s all;
      -o-transition: ease-out 0.15s all;
      transition: ease-out 0.15s all; }
      .splash-buttons a.learn-more:hover {
        background-color: #d00000; }

.header-bottom {
  position: absolute;
  bottom: 0;
  background-color: rgba(157, 0, 0, 0.7);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #ffffff;
  padding: 15px 20px;
  text-shadow: 3px 1px 1px #000000; }
  .header-bottom i {
    margin-right: 15px; }

.features {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 1px #9d0000;
  padding: 50px 0 100px; }

.features__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.features__third {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.feature-icon-container {
  width: 150px;
  margin: 0 auto;
  padding: 20px 0; }
  .feature-icon-container img {
    height: 150px;
    -webkit-filter: drop-shadow(3px 3px 0 #9d0000);
    filter: drop-shadow(3px 3px 0 #9d0000); }

.features__title {
  font-family: "Rye", cursive;
  text-transform: uppercase;
  font-size: 22.4px;
  font-size: 2.24rem;
  margin-bottom: 40px; }

.third__title {
  font-size: 14px;
  font-size: 1.4rem; }

.third__title {
  -webkit-perspective: 1800px;
  perspective: 1800px; }

.card-flip {
  margin-top: 20px;
  position: relative;
  -webkit-transition: 0.4s all linear;
  -o-transition: 0.4s all linear;
  transition: 0.4s all linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  height: 150px;
  transform-style: preserve-3d; }
  .card-flip:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .card-flip .front,
  .card-flip .back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%; }
  .card-flip .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    height: 100; }
  .card-flip .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 200px; }
  .card-flip .info-img {
    width: 40px;
    margin: 0 auto;
    padding: 10px 0 0 0; }
  .card-flip .info-text {
    text-shadow: none; }

footer {
  background-color: #6a0000; }
  footer .wrapper {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

footer li {
  list-style-type: none; }
  footer li a {
    text-decoration: none; }
    footer li a i {
      color: #ffffff;
      font-size: 15.4px;
      font-size: 1.54rem;
      margin-left: 10px; }
      footer li a i.fa-instagram:hover {
        background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      footer li a i.fa-facebook-square:hover {
        color: #3b5998; }
      footer li a i.fa-tripadvisor:hover {
        background: -webkit-linear-gradient(330deg, #00af87, #ffea4c);
        background: -o-linear-gradient(330deg, #00af87, #ffea4c);
        background: linear-gradient(120deg, #00af87, #ffea4c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      footer li a i.fa-twitter-square:hover {
        color: #00a2f8; }

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.catering-splash {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../assets/background/meat-sticks.jpeg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/background/meat-sticks.jpeg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/background/meat-sticks.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/background/meat-sticks.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  height: 300px; }

.catering {
  position: relative;
  overflow: hidden; }

.catering .wrapper {
  position: absolute;
  top: 25%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%); }
  .catering .wrapper h3 {
    font-family: "Rye", cursive;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: #000000 3px 3px 3px;
    font-size: 22.4px;
    font-size: 2.24rem; }
  .catering .wrapper h4 {
    color: #ffffff;
    text-shadow: #000000 3px 3px 3px;
    margin: 10px 0;
    font-style: italic;
    font-size: 14px;
    font-size: 1.4rem; }
  .catering .wrapper .catering-button-container {
    margin-top: 40px; }
    .catering .wrapper .catering-button-container a {
      padding: 10px 15px;
      text-decoration: none;
      text-transform: uppercase;
      background-color: #9d0000;
      color: #ffffff;
      font-weight: bold;
      -webkit-transition: ease-out 0.15s all;
      -o-transition: ease-out 0.15s all;
      transition: ease-out 0.15s all; }
      .catering .wrapper .catering-button-container a:hover {
        background-color: #d00000; }

.instagram-feed {
  background-color: #000000;
  padding-bottom: 60px; }

.gallery-title {
  font-family: "Rye", cursive;
  color: #ffffff;
  text-shadow: #9d0000 3px 3px 3px;
  text-transform: uppercase;
  text-align: center; }
  .gallery-title h2 {
    font-size: 22.4px;
    font-size: 2.24rem;
    padding: 80px 0 40px 0;
    margin: 0; }

.gallery-subtitle {
  text-align: center;
  color: #ffffff;
  font-size: 12.6px;
  font-size: 1.26rem;
  font-style: italic;
  margin-bottom: 40px; }
  .gallery-subtitle a {
    text-decoration: none;
    text-shadow: 2px 2px 1px #9d0000;
    color: #ffffff;
    -webkit-transition: ease-out 0.15s all;
    -o-transition: ease-out 0.15s all;
    transition: ease-out 0.15s all; }
    .gallery-subtitle a:hover {
      color: #9d0000;
      text-shadow: 2px 2px 1px #000000; }

main.catering-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/background/flaming-bg.jpeg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/background/flaming-bg.jpeg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/background/flaming-bg.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/background/flaming-bg.jpeg");
  background-size: cover; }
  main.catering-main .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

textarea {
  resize: none;
  width: 100%; }

.catering-left {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  margin-right: 10px;
  padding: 30px;
  border-radius: 4px;
  position: relative;
  color: white;
  text-align: center; }
  .catering-left p {
    margin-top: 65px;
    line-height: 30px;
    font-size: 12.6px;
    font-size: 1.26rem; }
  .catering-left a {
    font-size: 15.4px;
    font-size: 1.54rem;
    color: #9d0000;
    -webkit-transition: ease-out 0.15s all;
    -o-transition: ease-out 0.15s all;
    transition: ease-out 0.15s all; }
    .catering-left a:hover {
      color: #ff3737; }

.catering-right {
  width: 40%; }

.catering-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  margin-left: 10px;
  color: #000000; }
  .catering-right form input,
  .catering-right form textarea {
    border: 1px solid transparent;
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 5px; }
    .catering-right form input:focus,
    .catering-right form textarea:focus {
      border: 1px solid #9d0000; }
  .catering-right form label {
    margin-bottom: 5px;
    font-weight: bold; }
  .catering-right form input[type=submit] {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 0;
    -webkit-transition: ease-out 0.15s all;
    -o-transition: ease-out 0.15s all;
    transition: ease-out 0.15s all; }
    .catering-right form input[type=submit]:hover {
      background-color: #ffd0d0; }

footer.catering-footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

.catering-main h2 {
  font-family: "Rye", cursive;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: #9d0000 3px 3px 3px;
  text-align: center;
  font-size: 22.4px;
  font-size: 2.24rem;
  margin: 0; }

.catering-image-container {
  width: 250px;
  margin: 20px auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.contact-us__left {
  width: 55%;
  padding: 25px;
  color: #ffffff; }
  .contact-us__left i {
    color: #9d0000; }
  .contact-us__left a {
    text-decoration: none;
    color: #ffffff; }
  .contact-us__left h2 {
    font-family: "Rye", cursive;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: #9d0000 3px 3px 3px;
    font-size: 19.6px;
    font-size: 1.96rem;
    margin: 0;
    margin-bottom: 20px; }
  .contact-us__left .day-hours {
    position: relative;
    padding-bottom: 7px; }
    .contact-us__left .day-hours span {
      color: #ffffff;
      text-shadow: 3px 3px 3px #9d0000; }
      .contact-us__left .day-hours span.hours-right {
        color: #ffffff;
        position: absolute;
        left: 120px;
        text-align: right;
        text-shadow: none; }

.contact-us__right {
  width: 45%; }

.contact-us .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 10%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%); }

.contact-footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

.contact-us {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../assets/background/gws-restaurant.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/background/gws-restaurant.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/background/gws-restaurant.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/background/gws-restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 51px);
  position: relative;
  top: 51px; }

.contact-us__methods {
  margin-bottom: 40px; }
  .contact-us__methods div {
    padding: 5px; }
    .contact-us__methods div a {
      font-family: "Chivo", sans-serif;
      -webkit-transition: ease-out 0.15s all;
      -o-transition: ease-out 0.15s all;
      transition: ease-out 0.15s all; }
      .contact-us__methods div a:hover {
        color: #9d0000;
        text-decoration: underline; }
    .contact-us__methods div i {
      margin-right: 10px;
      font-size: 12.6px;
      font-size: 1.26rem;
      color: #ffffff;
      text-shadow: 3px 3px 3px #9d0000; }
